<div class="min-w-screen min-h-screen bg-teal-800 flex align-center justify-center px-5 py-10">
  <div class="w-full rounded-xl" style="width: 350px;">
    <div class="w-full bg-teal-800">
      <h1 class="text-white px-5 py-10 text-center font-bold text-3xl">Angular Calculator</h1>
    </div>
    <!-- Calculator screen -->
    <div class="w-full bg-black h-40 text-right text-white">
      <!-- Function screen -->
      <div class="w-full px-3 py-6 text-2xl">Function</div>
      <!-- Calculator screen -->
      <div class="w-full px-3 text-6xl">0</div>
    </div>
    
  </div>

</div>