<div class="min-w-screen min-h-screen bg-teal-800 flex align-center justify-center px-5 py-10">
  <div class="w-full rounded-xl relative overflow-hidden" style="width: 350px;">
    <!---->
    <div class="w-full bg-teal-800">
      <h1 class="text-white px-5 py-10 text-center font-bold text-3xl">Angular Calculator</h1>
    </div>
    <!-- Calculator screen -->
    <div class="w-full bg-black h-40 text-right text-white">
      <!-- Function screen -->
      <div class="w-full px-3 py-6 text-2xl">{{funcV}}</div>
      <!-- Number screen -->
      <div class="w-full px-3 text-6xl">{{numbV}}</div>
    </div>
    <!-- button area -->
    <div class="bg-red-400 flex w-full text-white">
      <!-- first-row -->
      <div class="w-2/4 h-16 text-center border-r border-b border-white">
        <!-- clear button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('c','function')">C</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- percentage button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('%','function')">%</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- Division button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('/','function')">/</button>
      </div>
      <!-- end of first-row -->
    </div>
    <div class="bg-red-400 flex w-full text-white">
      <!-- second-row -->
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 7 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('7','number')">7</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 8 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('8','number')">8</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 9 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('9','number')">9</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- x button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('x','function')">X</button>
      </div>
      <!-- end of second-row -->
    </div>
    <div class="bg-red-400 flex w-full text-white">
      <!-- third-row -->
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 4 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('4','number')">4</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 5 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('5','number')">5</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 6 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('6','number')">6</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- - button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('-','function')">-</button>
      </div>
      <!-- end of third-row -->
    </div>
    <div class="bg-red-400 flex w-full text-white">
      <!-- fourth-row -->
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 1 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('1','number')">1</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 2 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('2','number')">2</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 3 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('c','number')">3</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- + button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('+','function')">+</button>
      </div>
      <!-- end of fourth-row -->
    </div>
    <div class="bg-red-400 flex w-full text-white">
      <!-- fifth-row -->
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- 0 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('0','number')">0</button>
      </div>
      <div class="w-1/4 h-16 text-center border-r border-b border-white">
        <!-- decimal button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('.','function')">.</button>
      </div>
      <div class="w-2/4 h-16 text-center border-r border-b border-white">
        <!-- 9 button -->
        <button class="outline-none w-full px-6 py-5" (click)="onClickbutton('=','function')">=</button>
      </div>
      <!-- end of second-row -->
    </div>
    
  </div>

</div>